:host {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin: 15px;
}

.form-class {
  display: flex;
  flex-direction: column;
}

.error-message {
  display: flex;
  margin: 15px;
  width: fit-content;
}
