<h3>Create an Account</h3>
<form class="ui form form-class" [formGroup]="authForm" (ngSubmit)="onSubmit()">
  <!-- <div class="field">
    <label>Username</label>
    <input formControlName="username" />
  </div>
  {{ authForm.controls.username.errors | json }} -->
  <app-input
    label="Username"
    [control]="authForm.controls.username"
    [inputType]="'text'"
  ></app-input>

  <!-- <div class="field">
    <label>Password</label>
    <input formControlName="password" />
  </div>
  {{ authForm.controls.password.errors | json }} -->

  <app-input
    label="Password"
    [control]="authForm.controls.password"
    [inputType]="'password'"
  ></app-input>

  <!-- <div class="field">
    <label>Password Confirmation</label>
    <input formControlName="passwordConfirmation" />
  </div>
  {{ authForm.controls.passwordConfirmation.errors | json }} -->

  <app-input
    label="Password Confirmation"
    [control]="authForm.controls.passwordConfirmation"
    [inputType]="'password'"
  ></app-input>

  <div
    class="ui red basic label error-message"
    *ngIf="
      authForm?.errors &&
      authForm?.controls?.password?.touched &&
      authForm.controls.passwordConfirmation.touched
    "
  >
    <p *ngIf="authForm?.errors?.['passwordsDontMatch']">
      Passwords don't match
    </p>
    <p *ngIf="authForm?.errors?.['noInternetConnection']">
      No Internet Connection, failed to sign up
    </p>
    <p *ngIf="authForm?.errors?.['unknownError']">
      Unknown Error, failed to sign up
    </p>
  </div>

  <button class="ui submit button primary" style="margin: 15px">Submit</button>

  <!-- {{ authForm.errors | json }} -->
</form>
